:host {
  background-color: var(--scanner-background, rgb(30, 30, 30));
  color: var(--scanner-text, rgb(255, 255, 255));
  display: block;
  height: 100%;
  min-width: 320px;
  position: relative;

  .mat-sidenav {
    background-color: inherit;
    color: inherit;
    width: 100%;
  }

  .mat-sidenav-container {
    background-color: inherit;
    color: inherit;
    height: inherit;
  }

  .mat-sidenav-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.panel {
  background-color: var(--scanner-panel, rgb(30, 30, 30));
  display: flex;
  flex-direction: column;
  height: 100%;

  &.search .mat-toolbar > div {
    justify-content: flex-end;
  }

  > div {
    flex: 1;
    height: 100%;
    overflow: auto;
  }

  .mat-toolbar {
    background-color: inherit;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    color: currentColor;
    z-index: 2;

    > div {
      display: flex;
      flex-direction: row;
    }
  }

  > div > div,
  .mat-toolbar > div {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
